
<!--Imagen head -->
<header class="row text-center">
	<div class="container">
		<img src="/img/logoinicial.png" class="img-fluid w-auto animated bounceIn img-fuid" alt="Website Logo">
	</div>
</header>

<!-- About-->
<section class="about-section text-center" id="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 mx-auto">
				<h2 class="text-white mb-4">Desarrollo Web y Programación</h2>
				<p class="text-white-50">
					Enfoque principal en el desarrollo web de manera segura con código fuente bien estructurado, optimizado y comentado. Soy un programador con un conocimiento de las técnicas de front-end y back-end, con excelente diseño de calidad, con experiencia en trabajo en equipo y excelentes habilidades de resolución de problemas. 
				</p>
			</div>
		</div>
		<img class="img-fluid" src="/img/about.png" width = "400"alt="" />
	</div>
</section>
<!-- About-->

<!-- most used tecnolgyes-->
<div class="bg-transparent-dark">
	<div class="container py-5 text-center">        
		<h3 class="h1"><i class="fas fa-laptop-code"></i> Tecnologías más usadas</h3>        
		<div class="row mt-5">
			<div class="col-md-4">
				<div class="card course h-100">              
					<img src="/img/node.png" height="228" alt="title" class="card-img-top">            
					<div class="card-body">
						<h3 class="card-title">Node JS</h3>
						<p class="card-text">Node. js es un entorno JavaScript que nos permite ejecutar en el servidor, de manera asíncrona, con una arquitectura orientada a eventos y basado en el motor V8 de Google. Es una plataforma que avanza muy rápidamente y cada vez está más presente en el mercado.</p>                
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card course h-100">
					<a href="/curso/php-ajax">
						<img src="/img/python.png" alt="title" class="card-img-top">
					</a>
					<div class="card-body">
						<h3 class="card-title">Python</h3>
						<p class="card-text">Este lenguaje simplifica mucho la programación. Es un gran lenguaje para scripting, si usted requiere algo rápido (en el sentido de la ejecución del lenguaje), con unas cuantas líneas ya está resuelto. Elegante y flexible. Es una gran multiplataforma con frameworks de gran utilidad.</p>                
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card course h-100">
					<a href="/curso/ionic-angular-curso">
						<img src="/img/wordpress.jpg" alt="title" height="228" class="card-img-top">
					</a>
					<div class="card-body">
						<h3 class="card-title">Wordpress</h3>
						<p class="card-text"> Representa el 39,5% de todos los sitios web. Aunque es conocido principalmente por sus blogs, este sistema de gestión de contenidos (CMS) gratuito puede servir para una gran variedad de sitios web, como tiendas de comercio electrónico, portafolios y portales de información.</p>
					</div>
				</div>
			</div>
		</div>        
	</div>
</div>


<!-- most used tecnolgyes-->

<!-- Contac-->
<section class="contact-section" id = "contacts">
	<div class="container">
		<div class="row mt-4">
			<div class="col-md-4 mb-3 mb-md-0">
				<div class="card py-4 h-100">
					<div class="card-body text-center">
						<a href="/">
							<i class="fab fa-fw fa-facebook-f fa-2x"></i>
							<h4 class="text-20" href="/">Facebook</h4>
							<hr class="my-4" />
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 mb-3 mb-md-0">
				<div class="card py-4 h-100">
					<div class="card-body text-center">
						<a href="/">
							<i class="fas fa-envelope fa-2x"></i>
							<h4 class="text-20" href="#">Email</h4>
							<hr class="my-4" />
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 mb-3 mb-md-0">
				<div class="card py-4 h-100">
					<div class="card-body text-center">
						<a href="/">
							<i class="fab fa-whatsapp fa-2x"></i>
							<h4 class="text-20">Whatsapp</h4>
							<hr class="my-4" />
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Contac-->
