
<!--Imagen head -->
<header class="row text-center">
	<div class="container">
		<h2>
			<img src="/img/logoinicial.png" class="img-fluid w-auto animated bounceIn img-fuid" alt="Website Logo">
		</h2>
	</div>
</header>

<!-- About-->
<section class="about-section text-center" id="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 mx-auto">
				<h2 class="text-white mb-4">Desarrollo Web y Programación</h2>
				<p class="text-white-50">
					Enfoque principal en el desarrollo web de manera segura con código fuente bien estructurado, optimizado y comentado. Soy un programador con un conocimiento de las técnicas de front-end y back-end, con excelente diseño de calidad, con experiencia en trabajo en equipo y excelentes habilidades de resolución de problemas. 
				</p>
			</div>
		</div>
		<img class="img-fluid" src="/img/about.png" width = "400"alt="" />
	</div>
</section>
<!-- About-->

<!-- most used tecnolgyes-->
<div class="bg-transparent-dark">
	<div class="container py-3 text-center">        
		<h3 class="h1"><i class="fas fa-laptop-code"></i> Tecnologías más usadas</h3>        
		<div class="row mt-5">
			<div class="col-md-4">
				<div class="card course h-100"> 
					<h3>        
						<img src="/img/node.jpg" alt="title" class="card-img-top"> 
					</h3>                
					<div class="card-body">
						<h3 class="card-title">Node JS</h3>
						<p class="card-text">Node. js es un entorno JavaScript que nos permite ejecutar en el servidor, de manera asíncrona, con una arquitectura orientada a eventos y basado en el motor V8 de Google. Es una plataforma que avanza muy rápidamente y cada vez está más presente en el mercado.</p>                
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card course h-100">
					<a href="/curso/php-ajax">
						<h3>
							<img src="/img/python.jpeg" alt="title" class="card-img-top">
						</h3>
					</a>
					<div class="card-body">
						<h3 class="card-title">Python</h3>
						<p class="card-text">Este lenguaje simplifica mucho la programación. Es un gran lenguaje para scripting, si usted requiere algo rápido (en el sentido de la ejecución del lenguaje), con unas cuantas líneas ya está resuelto. Elegante y flexible. Es una gran multiplataforma con frameworks de gran utilidad.</p>                
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card course h-100">
					<a href="/curso/ionic-angular-curso">
						<h3>
							<img src="/img/wordpress.png" alt="title" class="card-img-top">
						</h3>
					</a>
					<div class="card-body">
						<h3 class="card-title">Wordpress</h3>
						<p class="card-text"> Representa el 39,5% de todos los sitios web. Aunque es conocido principalmente por sus blogs, este sistema de gestión de contenidos (CMS) gratuito puede servir para una gran variedad de sitios web, como tiendas de comercio electrónico, portafolios y portales de información.</p>
					</div>
				</div>
			</div>
		</div>        
	</div>
</div>
<!-- most used tecnolgyes-->
<!-- Portfolio Section-->
<section class="page-section portfolio" id="portfolio">
	<div class="container">
		<!-- Portfolio Section Heading-->
		<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>
		<!-- Icon Divider-->
		<div class="divider-custom">
			<div class="divider-custom-line"></div>
			<div class="divider-custom-icon"><i class="fas fa-star"></i></div>
			<div class="divider-custom-line"></div>
		</div>
		<!-- Portfolio Grid Items-->
		<div class="row justify-content-center">
			<!-- Portfolio Item 1-->
			<div class="col-md-6 col-lg-4 mb-5">
				<div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
					<div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
						<div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
					</div>
					<img class="img-fluid" src="assets/img/portfolio/bot.png" alt="..." />
				</div>
			</div>
			<!-- Portfolio Item 2-->
			<div class="col-md-6 col-lg-4 mb-5">
				<div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
					<div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
						<div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
					</div>
					<img class="img-fluid" src="assets/img/portfolio/notas.png" alt="..." />
				</div>
			</div>
			<!-- Portfolio Item 3-->
			<div class="col-md-6 col-lg-4 mb-5">
				<div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
					<div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
						<div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
					</div>
					<img class="img-fluid" src="assets/img/portfolio/chat.png" alt="..." />
				</div>
			</div>
			<!-- Portfolio Item 4-->
			<div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
				<div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
					<div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
						<div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
					</div>
					<img class="img-fluid" src="assets/img/portfolio/tareapy.png" alt="..." />
				</div>
			</div>
			<!-- Portfolio Item 5-->
			<div class="col-md-6 col-lg-4 mb-5 mb-md-0">
				<div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal5">
					<div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
						<div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
					</div>
					<img class="img-fluid" src="assets/img/portfolio/api.png" alt="..." />
				</div>
			</div>
			<!-- Portfolio Item 6-->
			<div class="col-md-6 col-lg-4">
				<div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal6">
					<div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
						<div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
					</div>
					<img class="img-fluid" src="assets/img/portfolio/onda.png" alt="..." />
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Portfolio Section-->



<!-- Contac-->
<section class="contact-section" id = "contacts">
	<div class="container">
		<div class="row">
			<!-- Footer Location-->
			<div class="col-lg-4 mb-5 mb-lg-0">
				<h4 class="text-uppercase mb-4 text-center">Location</h4>
				<p class="lead mb-0 text-center">
					Caracas, Venezuela
				</p>
			</div>
			<!-- Footer Social Icons-->
			<div class="col-lg-4 mb-5 mb-lg-0">
				<h4 class="text-uppercase mb-4 text-center">Around the Web</h4>
				<p class = "text-center">
					<a class="btn btn-outline-light btn-social mx-1" target="blank" href="https://wa.me/584267486531"><i class="fab fa-whatsapp"></i></a>
					<a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-github"></i></a>
				</p>
			</div>
			<!-- Footer About Text-->
			<div class="col-lg-4">
				<h4 class="text-uppercase mb-4 text-center">About Freelancer</h4>
				<p class="text-center">
					Freelance is a free to use, MIT licensed Bootstrap theme created by
					<a href="http://startbootstrap.com">Start Bootstrap</a>
					.
				</p>
			</div>
		</div>
	</div>
</section>
<!-- Contac-->

<!-- Portfolio Modals-->
<!-- Portfolio Modal 1-->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<button class="close" type="button" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true"><i class="fas fa-times"></i></span>
			</button>
			<div class="modal-body text-center">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-8">
							<!-- Portfolio Modal - Title-->
							<h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal1Label">BOT</h2>
							<!-- Icon Divider-->
							<div class="divider-custom">
								<div class="divider-custom-line"></div>
								<div class="divider-custom-icon"><i class="fas fa-star"></i></div>
								<div class="divider-custom-line"></div>
							</div>
							<!-- Portfolio Modal - Image-->
							<img class="img-fluid rounded mb-5" src="assets/img/portfolio/bot.png" alt="..." />
							<!-- Portfolio Modal - Text-->
							<p class="mb-5">Creación de un bot para un grupo de trabajo en discord de la pagina APPEN, este bot realiza Web Scrapping a la pagina y consulta si existe una tarea nueva, el numero de tareas disponibles, el nivel y el pago en centavos de la tarea, si alguna de estas variables cambia el bot lo notifica al discord. Fue desarrollado a partir de Python y se encuentra en el servidor de Heroku funcionando.<br />
									<a href="/"><i class="fab fa-fw fa-github"></i></a>
							</p>
							<button class="btn btn-primary" data-dismiss="modal">
								<i class="fas fa-times fa-fw"></i>
								Close Window
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Portfolio Modal 2-->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-labelledby="portfolioModal2Label" aria-hidden="true">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<button class="close" type="button" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true"><i class="fas fa-times"></i></span>
			</button>
			<div class="modal-body text-center">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-8">
							<!-- Portfolio Modal - Title-->
							<h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal2Label">APLICACION DE NOTAS</h2>
							<!-- Icon Divider-->
							<div class="divider-custom">
								<div class="divider-custom-line"></div>
								<div class="divider-custom-icon"><i class="fas fa-star"></i></div>
								<div class="divider-custom-line"></div>
							</div>
							<!-- Portfolio Modal - Image-->
							<img class="img-fluid rounded mb-5" src="assets/img/portfolio/notas.png" alt="..." />
							<!-- Portfolio Modal - Text-->
							<p class="mb-5">Aplicación web Backend y Frontend, utilizando Nodejs, Mongodb, Express y otras tecnologías de Javascript. Es una aplicacion de Notas, CRUD de nodejs, más un Login y Registro utilizando Mongodb, protege nuestras rutas del servidor, se encuentra estilizada con CSS y Bootstrap4.</p>
							<button class="btn btn-primary" data-dismiss="modal">
								<i class="fas fa-times fa-fw"></i>
								Close Window
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Portfolio Modal 3-->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-labelledby="portfolioModal3Label" aria-hidden="true">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<button class="close" type="button" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true"><i class="fas fa-times"></i></span>
			</button>
			<div class="modal-body text-center">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-8">
							<!-- Portfolio Modal - Title-->
							<h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal3Label">Circus Tent</h2>
							<!-- Icon Divider-->
							<div class="divider-custom">
								<div class="divider-custom-line"></div>
								<div class="divider-custom-icon"><i class="fas fa-star"></i></div>
								<div class="divider-custom-line"></div>
							</div>
							<!-- Portfolio Modal - Image-->
							<img class="img-fluid rounded mb-5" src="assets/img/portfolio/chat.png" alt="..." />
							<!-- Portfolio Modal - Text-->
							<p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
							<button class="btn btn-primary" data-dismiss="modal">
								<i class="fas fa-times fa-fw"></i>
								Close Window
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Portfolio Modal 4-->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-labelledby="portfolioModal4Label" aria-hidden="true">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<button class="close" type="button" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true"><i class="fas fa-times"></i></span>
			</button>
			<div class="modal-body text-center">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-8">
							<!-- Portfolio Modal - Title-->
							<h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal4Label">Controller</h2>
							<!-- Icon Divider-->
							<div class="divider-custom">
								<div class="divider-custom-line"></div>
								<div class="divider-custom-icon"><i class="fas fa-star"></i></div>
								<div class="divider-custom-line"></div>
							</div>
							<!-- Portfolio Modal - Image-->
							<img class="img-fluid rounded mb-5" src="assets/img/portfolio/tareapy.png" alt="..." />
							<!-- Portfolio Modal - Text-->
							<p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
							<button class="btn btn-primary" data-dismiss="modal">
								<i class="fas fa-times fa-fw"></i>
								Close Window
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Portfolio Modal 5-->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-labelledby="portfolioModal5Label" aria-hidden="true">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<button class="close" type="button" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true"><i class="fas fa-times"></i></span>
			</button>
			<div class="modal-body text-center">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-8">
							<!-- Portfolio Modal - Title-->
							<h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal5Label">Locked Safe</h2>
							<!-- Icon Divider-->
							<div class="divider-custom">
								<div class="divider-custom-line"></div>
								<div class="divider-custom-icon"><i class="fas fa-star"></i></div>
								<div class="divider-custom-line"></div>
							</div>
							<!-- Portfolio Modal - Image-->
							<img class="img-fluid rounded mb-5" src="assets/img/portfolio/api.png" alt="..." />
							<!-- Portfolio Modal - Text-->
							<p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
							<button class="btn btn-primary" data-dismiss="modal">
								<i class="fas fa-times fa-fw"></i>
								Close Window
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Portfolio Modal 6-->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-labelledby="portfolioModal6Label" aria-hidden="true">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<button class="close" type="button" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true"><i class="fas fa-times"></i></span>
			</button>
			<div class="modal-body text-center">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-8">
							<!-- Portfolio Modal - Title-->
							<h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal6Label">Submarine</h2>
							<!-- Icon Divider-->
							<div class="divider-custom">
								<div class="divider-custom-line"></div>
								<div class="divider-custom-icon"><i class="fas fa-star"></i></div>
								<div class="divider-custom-line"></div>
							</div>
							<!-- Portfolio Modal - Image-->
							<img class="img-fluid rounded mb-5" src="assets/img/portfolio/onda.png" alt="..." />
							<!-- Portfolio Modal - Text-->
							<p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
							<button class="btn btn-primary" data-dismiss="modal">
								<i class="fas fa-times fa-fw"></i>
								Close Window
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>